<div id="chats">
  <mat-card class="senders-message" style="border-radius: 15px !important;">
    <mat-card-subtitle class="user-avatar-image name-class" mat-card-avatar>Timo P</mat-card-subtitle>
    <mat-card-header>
      <mat-card-title>Hello, I am very exited for this experience. Looking forward to meet you guys.</mat-card-title>
      <mat-card-subtitle>11:29</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="my-message" style="border-radius: 15px !important;">
    <mat-card-subtitle class="user-avatar-image name-class" mat-card-avatar>Jere K</mat-card-subtitle>
    <mat-card-header>
      <mat-card-title>Hello Timo! Nice to e-meet you. Get the mood ready, we're going to enjoy it a lot!</mat-card-title>
      <mat-card-subtitle>11:34</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="senders-message" style="border-radius: 15px !important;">
    <mat-card-subtitle class="user-avatar-image name-class" mat-card-avatar>Anna K</mat-card-subtitle>
    <mat-card-header>
      <mat-card-title>Hey Hey! Looking forward to it! I have already packed everything. Do you have any tips on what to bring with us?</mat-card-title>
      <mat-card-subtitle>11:35</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="my-message" style="border-radius: 15px !important;">
    <mat-card-subtitle class="user-avatar-image name-class" mat-card-avatar>Jere K</mat-card-subtitle>
    <mat-card-header>
      <mat-card-title>Well the weather will be -10 at min. So you know I guess.</mat-card-title>
      <mat-card-subtitle>11:40</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <form style="bottom: 0" class="send-a-message">
    <mat-form-field style="    padding: 10px;width: 95%;margin-bottom: 20px;" class="example-full-width">
      <input type="text" matInput placeholder="Type a new message">
      <mat-icon matSuffix>send</mat-icon>
    </mat-form-field>
  </form>
</div>

